
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 2rem;
}


.card img {
    width: 100%;
    height: auto;
}


.card-content {
    padding: 16px;
    text-align: center;
}

.card-content h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.card-content p {
    font-size: 1rem;
    color: #666;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


@media (max-width: 600px) {
    .card {
        max-width: 90%;
    }
}
